@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.swiper-pagination-bullet{
  width: 12px !important;
  height: 12px !important;
  background: rgba(255, 255, 255, .5) !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #DB4444 !important;
  border: 2px solid #fff;
}